/* css styles */
/* Importing Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Applying the imported font to the body */
body {
  font-family: 'Roboto', sans-serif;
}

/* Apply text justification to the main text container */
p {
    text-align: justify;
  }

.navbar-dark {
  background-color: #303aa9;
}